.background-404{
  background: repeating-linear-gradient(
  45deg,
  $color1,
  $color1 10px,
  $color3 10px,
  $color3 20px);
  height: 100vh;
  width: 100vw;
}

.main-div-404{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: $color1;
  &:hover svg {
    background-color: $color4;
    fill: $color2;
  }
}

.svg-logo-404{
  fill: $color3;
  width: 100%;
  height: 80px;
  margin-top: $mainMargin;
}

// Text-related

%text-style-404{
  font-family: $fontStack;
  font-weight: bold;
  margin: 0;
}

.p1-404{
  @extend %text-style-404;
  text-align: left;
  font-size: 1.2rem;
  padding: 20px;
  margin: 0px #{$mainMargin} 0px;
  letter-spacing: -0.5px;
  color: $color1;
  background-color: $color3;
}

.p2-404{
  @extend %text-style-404;
  text-align: left;
  font-size: 1.2rem;
  padding: 20px;
  letter-spacing: -0.5px;
  color: $color3;
}
