html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  background-color: $color2;
  margin: 0;
  line-height: 1.5;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

%svg-properties{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color2;
  fill: $color4;
}

%svg-properties:hover{
  background-color: $color4;
  fill: $color2;
}

%div-properties{
  position: absolute;
  height: 50%;
}

.transform{
  -webkit-transition: all $animationTime ease;
  -moz-transition: all $animationTime ease;
  -o-transition: all $animationTime ease;
  -ms-transition: all $animationTime ease;
  transition: all $animationTime ease;
}

%transform-active svg{
  background-color: $color4;
  fill: $color2;
}

// SVG animation -> N
.svg-n{
  @extend %svg-properties;
}

.div-n{
  @extend %div-properties;
  width: 15%;
  left: 0;
  top: 0;

  &.transform-n-active-1{
    @extend %transform-active;
    width: 40%;
    height: 70%;
  }

  &.transform-n-active-2{
    width: 10%;
    height: 80%;
  }

  &.transform-n-active-3{
    width: 20%;
    height: 90%;
  }

  &.transform-n-active-4{
    height: 25%;
  }

  &.transform-n-active-5{
    height: 15%;
  }

  &.transform-n-active-6{
    height: 35%;
  }
}

// SVG animation -> A
.svg-a{
  @extend %svg-properties;
}

.div-a{
  @extend %div-properties;
  width: 35%;
  left: 15%;
  top: 0;

  &.transform-a-active-1{
    width: 35%;
    height: 70%;
    left: 40%;
  }

  &.transform-a-active-2{
    @extend %transform-active;
    width: 60%;
    height: 80%;
    left: 10%;
  }

  &.transform-a-active-3{
    width: 10%;
    height: 90%;
    left: 20%;
  }

  &.transform-a-active-4{
    height: 25%;
  }

  &.transform-a-active-5{
    height: 15%;
  }

  &.transform-a-active-6{
    height: 35%;
  }
}

// SVG animation -> D
.svg-d{
  @extend %svg-properties;
}

.div-d{
  @extend %div-properties;
  width: 50%;
  right: 0;
  top: 0;

  &.transform-d-active-1{
    width: 25%;
    height: 70%;
  }

  &.transform-d-active-2{
    width: 30%;
    height: 80%;
  }

  &.transform-d-active-3{
    @extend %transform-active;
    width: 70%;
    height: 90%;
  }

  &.transform-d-active-4{
    height: 25%;
  }

  &.transform-d-active-5{
    height: 15%;
  }

  &.transform-d-active-6{
    height: 35%;
  }
}

// SVG animation -> O
.svg-o{
  @extend %svg-properties;
}

.div-o{
  @extend %div-properties;
  width: 25%;
  left: 0;
  bottom: 0;

  &.transform-o-active-1{
    height: 30%;
  }

  &.transform-o-active-2{
    height: 20%;
  }

  &.transform-o-active-3{
    height: 10%;
  }

  &.transform-o-active-4{
    @extend %transform-active;
    width: 50%;
    height: 75%;
  }

  &.transform-o-active-5{
    width: 20%;
    height: 85%;
  }

  &.transform-o-active-6{
    width: 10%;
    height: 65%;
  }
}

// SVG animation -> K
.svg-k{
  @extend %svg-properties;
}

.div-k{
  @extend %div-properties;
  width: 65%;
  bottom: 0;
  left: 25%;

  &.transform-k-active-1{
    height: 30%;
  }

  &.transform-k-active-2{
    height: 20%;
  }

  &.transform-k-active-3{
    height: 10%;
  }

  &.transform-k-active-4{
    width: 20%;
    height: 75%;
    left: 50%;
  }

  &.transform-k-active-5{
    @extend %transform-active;
    width: 70%;
    height: 85%;
    left: 20%;
  }

  &.transform-k-active-6{
    width: 10%;
    height: 65%;
    left: 10%;
  }
}

// SVG animation -> I
.svg-i{
  @extend %svg-properties;
}

.div-i{
  @extend %div-properties;
  width: 10%;
  bottom: 0;
  right: 0;

  &.transform-i-active-1{
    height: 30%;
  }

  &.transform-i-active-2{
    height: 20%;
  }

  &.transform-i-active-3{
    height: 10%;
  }

  &.transform-i-active-4{
    width: 30%;
    height: 75%;
  }

  &.transform-i-active-5{
    width: 10%;
    height: 85%;
  }

  &.transform-i-active-6{
    @extend %transform-active;
    width: 80%;
    height: 65%;
  }
}
