::selection{
  color: $color3;
  background: $color1;
}

moz::selection{
  color: $color3;
  background: $color1;
}

.main-div{
  border-radius: 25px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: $color2;
}

.main-div-content{
  border-radius: 25px;
  background-color: $color3;
  margin: 0 $mainMargin $mainMargin;
}

.mail-div{
  display: inline-block;
  width: 100%;
  height: 80px;
  &:hover svg {
    background-color: $color4;
    fill: $color3;
  }
}

.svg-mail{
  fill: $color3;
  background: $color2;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  padding: 10px;
}

.collaborators-div{
  position: absolute;
  font-size: 0;
  border-radius: 25px;
  top: calc(50% + 90px);
  left: calc(50% + 290px);
  width: 100px;
  transform: translate(-50%, -50%);
  background-color: $color3;
}

.collaborators-div-content{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: $color2;
  margin: 0 $mainMargin $mainMargin;
  a{
    margin: 0 16px 16px;
    &:first-child{
      margin-top: 16px;
    }
  }
  svg{
    fill: $color3;
  }
}

.svg-logo{
  fill: $color3;
  width: 100%;
  height: 80px;
  margin-top: $mainMargin;
}

.cls-1{
  fill:#fff;
}
.cls-2{
  fill:#9bb3bd;
}

// Text-related
%text-style{
  font-family: $fontStack;
  color: $color2;
  margin: 0;
}

a{
  text-decoration: none;
}

.p1{
  @extend %text-style;
  text-align: left;
  font-size: 1rem;
  padding: calc(20px - #{$mainMargin}) 20px 20px;
  letter-spacing: -0.5px;
}

.p2{
  @extend %text-style;
  text-align: center;
  font-size: 0.8rem;
  padding: calc(16px - #{$mainMargin}) 16px 16px;
}

.p3{
  @extend %text-style;
  border-radius: 25px;
  text-align: center;
  font-size: 0.8rem;
  padding: calc(16px - #{$mainMargin}) 0;
  letter-spacing: -0.5px;
}

.skip-link{
  display: none;
}
