@media only screen and (max-width: 768px) and (orientation: portrait) {
}

@media only screen and (max-width: 830px) {

//background.scss
  body{
    background: repeating-linear-gradient(
    45deg,
    $color1,
    $color1 10px,
    $color3 10px,
    $color3 20px);
  }

  .transform {
    display: none;
  }

// layout.scss
  .main-div{
    min-width: 300px;
    width: 45vw;
    top: 40%;
  }

  .mail-div{
    min-height: 55px;
    height: 8vh;
  }

  .collaborators-div{
    top: 80%;
    left: 50%;
    width: 190px;
  }

  .collaborators-div-content{
    flex-direction: row;
    a{
      width: 33.3%;
      margin: 10px 10px 10px 0px;
      &:first-child{
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }

  .svg-logo{
    min-height: 30px;
    height: 10vh;
  }

  .p1{
    font-size:calc(4pt + 1.5vh);
  }

  .p2{
    font-size:calc(4pt + 0.5vh);
  }

  .p3{
    font-size:calc(4pt + 1vh);
    padding: calc(10px - #{$mainMargin}) 0;
  }

  // 404.scss
  .main-div-404{
    min-width: 300px;
    width: 45vw;
  }

  .svg-logo-404{
    min-height: 40px;
    height: 15vh;
  }

  .p1-404, .p2-404{
    font-size:calc(6pt + 2vh);
  }
}

@media only screen and (max-width: 830px) and (orientation : landscape) {

// layout.scss
  .main-div{
    top: 50%;
  }

  .collaborators-div{
    display: none;
  }
}
