// Variables
$fontStack: 'Nunito', Futura, Helvetica, sans-serif;
$color1: #1C2833; //dark grey
$color2: black;
$color3: #EEEEEE; // light grey
$color4: $color1; // dark grey
$animationTime: 0.5s;
$mainMargin: 6px;
